DataStructureFamilyBucket/Library/
DataStructureFamilyBucket/Temp/
AlgorithmFamilyBucket/Library/
AlgorithmFamilyBucket/Temp/
AlgorithmFamilyBucket/AlgorithmFamilyBucket.sln
AlgorithmFamilyBucket/Assembly-CSharp.csproj
AlgorithmFamilyBucket/obj/
AlgorithmFamilyBucket/.vs/
DesignPatternFamilyBucket/Library/
DesignPatternFamilyBucket/Temp/
DesignPatternFamilyBucket/Assembly-CSharp.csproj
DesignPatternFamilyBucket/DesignPatternFamilyBucket.sln
DesignPatternFamilyBucket/Logs/Packages-Update.log
PureMVC_Standard/Library/PackageCache/
PureMVC_Standard/Logs/
PureMVC_Standard/Library/
PureMVC_Standard/Temp/
PureMVC_Standard/Assembly-CSharp.csproj
PureMVC_Standard/PureMVC.csproj
PureMVC_Standard/PureMVC_Standard.sln
PureMVC_Standard/obj/
PureMVC_Standard/.vs/PureMVC_Standard/v16/.suo
Demo/Library/
Demo/Temp/
Demo/Logs/
Demo/Assembly-CSharp.csproj
Demo/Assembly-CSharp-firstpass.csproj
Demo/Demo.sln
Demo/.vs/Demo/v16/.suo
Demo/obj/Debug/Assembly-CSharp-firstpass.csprojAssemblyReference.cache
Demo/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Demo/obj/
DesignPatternFamilyBucket/obj/
DesignPatternFamilyBucket/.vsconfig
DesignPatternFamilyBucket/.vs/DesignPatternFamilyBucket/v16/.suo
Demo/.vsconfig
Demo/Assembly-CSharp-Editor.csproj
Demo/Demo.sln.DotSettings.user
Demo/Sirenix.OdinInspector.CompatibilityLayer.csproj
Demo/Sirenix.OdinInspector.CompatibilityLayer.Editor.csproj
Demo/.idea/
Demo/Assets/Arts/
Demo/Assets/Plugins/Sirenix/
Demo/Assets/TextMesh Pro/
Demo/Assembly-CSharp-Editor-firstpass.csproj
