DataStructureFamilyBucket/Library/
DataStructureFamilyBucket/Temp/
AlgorithmFamilyBucket/Library/
AlgorithmFamilyBucket/Temp/
AlgorithmFamilyBucket/AlgorithmFamilyBucket.sln
AlgorithmFamilyBucket/Assembly-CSharp.csproj
DesignPatternFamilyBucket/Library/
DesignPatternFamilyBucket/Logs/
DesignPatternFamilyBucket/Temp/
DesignPatternFamilyBucket/Assembly-CSharp.csproj
DesignPatternFamilyBucket/DesignPatternFamilyBucket.sln
